@model ProductDto

<form asp-action="ProductCreate" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Tambah Produk</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Nama Produk</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Kategori</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Harga</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">

                <a asp-action="ProductIndex" class="btn-primary btn form-control ">Kembali</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
